.login-container {
  width: 320px;
  padding: 50px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  font-family: Arial, sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
}

button {
  width: 30%;
  padding: 8px;
  font-weight: bold;
  margin-left: 110px;

}
